<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>

    <style>
        body {
            color: #404E67;
            background: #F5F7FA;
            font-family: 'Open Sans', sans-serif;
        }
        .table-wrapper {
            width: 700px;
            margin: 30px auto;
            background: #fff;
            padding: 20px;	
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
        }
        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }
        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }
        .table-title .add-new i {
            margin-right: 4px;
        }
        table.table {
            table-layout: fixed;
        }
        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
        table.table th:last-child {
            width: 100px;
        }
        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }    
        table.table td a.add {
            color: #27C46B;
        }
        table.table td a.edit {
            color: #FFC107;
        }
        table.table td a.delete {
            color: #E34724;
        }
        table.table td i {
            font-size: 19px;
        }
        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }    
        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }
        table.table .form-control.error {
            border-color: #f50000;
        }
        table.table td .add {
            display: none;
        }
        </style>

    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand--> 
            <a class="navbar-brand ps-3" href="/">SP19-Advertise module</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Dashboard
                            </a>

                            <div class="sb-sidenav-menu-heading">Feature</div>
                            <a class="nav-link" href="/all-ads">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-rectangle-ad"></i></div>
                                Manage advertise
                            </a>
                            <a class="nav-link" href="/guest-ads">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-eye"></i></div>
                                Show advertise
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Bootstrap</div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="table-responsive">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-6"><h2>Danh sach <b>quang cao</b></h2></div>
                                        <div class="col-sm-6" style="text-align: center;">
                                            <a href="/add-ads" type="button" class="btn btn-info add-new" style="margin-top: 20px;float:none"><i class="fa fa-plus"></i> Add New</a>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered">
                                    <thead style="background-color: #ced4da;">
                                        <tr>
                                            <th style="width:50px">id</th>
                                            <th>Name</th>
                                            <th style="max-width: 220px;">Content</th>
                                            <th style="width:65px">Status</th>
                                            <th style="width:75px">Image</th>
                                            <th>Started At</th>
                                            <th>Finished At</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <% for(let i=0; i < adsProduct.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= adsProduct[i].id %>
                                                </td>
                                                <td>
                                                    <%= adsProduct[i].name %>
                                                </td>
                                                <td style="max-width:100%">
                                                    <%= adsProduct[i].content %>
                                                </td>
                                                <td>
                                                    <% if (adsProduct[i].status == 1) { %>
                                                        <span class="btn btn-success" style="font-size:12px;padding:3px">Showing</span>
                                                    <% } else { %>
                                                        <span class="btn btn-danger" style="font-size:12px;padding:3px">Hiding</span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <img src="<%=adsProduct[i].image %>" style="width: 100%;height:auto"/>
                                                </td>
                                                <td>
                                                    <input disabled id="start-date" class="form-control" type="datetime-local"  name="startedAt" value="<%= adsProduct[i].startedAt.toISOString().slice(0,16) %>">
                                                </td>
                                                <td>
                                                    <input disabled id="finish-date" class="form-control" type="datetime-local"  name="finishedAt" value="<%= adsProduct[i].finishedAt.toISOString().slice(0,16) %>">
                                                </td>
                                                <td>
                                                    <a href="/edit-ads?id=<%= adsProduct[i].id %>" class="btn btn-primary" type="button" style="padding:5px"><i class="fa-regular fa-pen-to-square"></i></a>
                                                    <a href="/delete-ads?id=<%= adsProduct[i].id %>" class="btn btn-danger" type="button" style="padding:5px"><i class="fa-solid fa-trash"></i></a>
                                                </td>
                                
                                            </tr>
                                            <% } %>
                                        </tr>    
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </main>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>


