<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Ads</title>
</head>
<style>
    table {
        margin: 0 auto;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 4px 8px;
    }

    button {
        border: none;
        cursor: pointer;
        width: 60px;
        padding: 4px;
        border-radius: 4px;

    }

    a {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        width: 60px;
        padding: 4px;
        border-radius: 4px;
        text-align: center;
        color: unset;

    }

    .btn-edit {
        /* color: white; */
        background-color: orange;
    }

    .btn-delete {
        color: white;
        background-color: red;
    }
</style>

<body>
    <%
    function convert(str) {
    var date = new Date(str),
        mnth = ("0" + (date.getMonth()+1)).slice(-2),
        day  = ("0" + date.getDate()).slice(-2);
        hours  = ("0" + date.getHours()).slice(-2);
        minutes = ("0" + date.getMinutes()).slice(-2);
    return [ date.getFullYear(), mnth, day, hours ].join("-") + [ date.hours, minutes].join(":");
}
    %>
    <table style="width:90%">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Content</th>
            <th>Visit Time</th>
            <th>Image</th>
            <th>Started At</th>
            <th>Finished At</th>
            <th>Actions</th>
        </tr>
        <tr>
            <% for(let i=0; i < adsProduct.length; i++) { %>
            <tr>
                <td>
                    <%= adsProduct[i].id %>
                </td>
                <td>
                    <%= adsProduct[i].name %>
                </td>
                <td>
                    <%= adsProduct[i].content %>
                </td>
                <td>
                    <%= adsProduct[i].visitTime %>
                </td>
                <td>
                    <img src="<%=adsProduct[i].image %>"/>
                </td>
                <td>
                    <input disabled id="start-date" class="form-control" type="datetime-local"  name="startedAt" value="<%= adsProduct[i].startedAt.toISOString().slice(0,16) %>">
                </td>
                <td>
                    <input disabled id="finish-date" class="form-control" type="datetime-local"  name="finishedAt" value="<%= adsProduct[i].finishedAt.toISOString().slice(0,16) %>">
                </td>
                <td>
                    <a href="/admin/edit-ads?id=<%= adsProduct[i].id %>" class="btn-edit" type="button">Edit</a>
                    <a href="/admin/delete-ads?id=<%= adsProduct[i].id %>" class="btn-delete" type="button">Delete</a>
                </td>

            </tr>
            <% } %>
        </tr>

    </table>
</body>

</html>