<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Ads</title>
</head>
<style>
    table {
        margin: 0 auto;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 4px 8px;
    }

    button {
        border: none;
        cursor: pointer;
        width: 60px;
        padding: 4px;
        border-radius: 4px;

    }

    a {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        width: 60px;
        padding: 4px;
        border-radius: 4px;
        text-align: center;
        color: unset;

    }

    .btn-edit {
        /* color: white; */
        background-color: orange;
    }

    .btn-delete {
        color: white;
        background-color: red;
    }
</style>

<body>
    <table style="width:90%">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Content</th>
            <th>Visit Time</th>
            <th>Image</th>
            <th>Started At</th>
            <th>Finished At</th>
            <th>Actions</th>
        </tr>
        <tr>
            <% for(let i=0; i < adsProduct.length; i++) { %>
            <tr>
                <td>
                    <%= adsProduct[i].id %>
                </td>
                <td>
                    <%= adsProduct[i].name %>
                </td>
                <td>
                    <%= adsProduct[i].content %>
                </td>
                <td>
                    <%= adsProduct[i].visitTime %>
                </td>
                <td>
                    <%= adsProduct[i].image %>
                </td>
                <td>
                    <%= adsProduct[i].startedAt %>
                </td>
                <td>
                    <%= adsProduct[i].finishedAt %>
                </td>
                <td>
                    <a href="/edit?id=<%= adsProduct[i].id %>" class="btn-edit" type="button">Edit</a>
                    <a href="/delete?id=<%= adsProduct[i].id %>" class="btn-delete" type="button">Delete</a>
                </td>

            </tr>
            <% } %>
        </tr>

    </table>
</body>

</html>